@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');

@font-face {
   font-family: IM FELL Great Primer SC;
   src: url(./fonts/IMFeGPsc28P.ttf);
 }

/*---------CSS BAICS STYLES START -------------*/

body {
    margin: 0;
    padding: 0;
    font-family: IM FELL Great Primer SC;
    height: 100vh;
}

h1, h2, h3, p, span, ul, li a {
    margin: 0;
    padding: 0;
}

*,*::after ,*::before {
    box-sizing: border-box;
}

  ul li {
    list-style: none;
    font-family: IM FELL Great Primer SC;
 } 

 a {
    text-decoration: none;
 }


 /*---------CSS BAIC STYLES END -------------*/


 /*--------- NAVBAR START -----------*/

 header {
    background: linear-gradient(90deg, #FFDCAB 0%, #AB6B2E 100%);
 }

 .navbar--container {
    display: flex;
    justify-content: space-between;
    padding: 2em 8%;
    align-items:center;
 }
 .navbar--search input {
    width: 12.58606rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 2.1875rem;
    border: 1px solid #000;
    background: transparent;
 }

 #search {
   text-indent: 46px;
   margin-right: 20px;
 }



 ul li  {
    display: inline-block;
    padding-left: 3em;
 }

 #search-incon {
   position: relative;
   top: 9px;
   left: 36px;
 }

 ul li a {
   color: #000;
   font-family: IM FELL Great Primer SC;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.1425rem;
 }

/*-----------NAVBAR END  ----------*/

/******** HERO SECTION START **********/

.hero--section {
   display: grid;
   grid-template-columns:1fr 1fr 1fr ;
   grid-template-rows: 1fr 1fr;
}


.dot{
   width: 1.25rem;
   height: 1.25rem;
   border-radius: 50%;
   transform: rotate(-11deg);
   background: #fff;
}

.hero--section-content {
   grid-column: 1/3;
}

.hero--section-content h1 {
   color: var(--coffee-color, #2F2105);
   font-family: IM FELL Double Pica;
   font-size: 2.5rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.25rem;
}
.coffe-cups img {
   width: 100px;
   height: 100px;
}

.hero--section-content {
   display: flex;
width: 29.3125em;
height: 12.5em;
padding-left: 100px;
flex-direction: column;
/* justify-content: space-evenly; */
/* flex-shrink: 0; */
}

.hero--section-content .coffe {
   color: var(--primary-color, #FF902B);
   font-family: IM FELL Double Pica;
   font-size: 2.5rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.25rem;
}

.hero--section-content p {
   color: #000;
   font-family: IM FELL Double Pica;
   font-size: 1.125rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.15188rem;
}



.cart--btn--container button {
   width: 16.8125rem;
   height: 4.375rem;
   flex-shrink: 0;
   border-radius: 3.125rem;
   background: var(--coffee-color, #2F2105);
   color: #FFF;
   text-align: center;
   font-family: IM FELL Double Pica;
   font-size: 1.125rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.15188rem;
   border: none;
}

.coffe-cups.pink-cup {
   width:10.9375rem;
   height: 8.875rem;
   flex-shrink: 0;
}

.orange-cup {
   width: 12.375rem;
   height: 16.9375rem;
   flex-shrink: 0;
}

/******** HERO SECTION END **********/