@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700&display=swap');

@font-face {
   font-family: IM FELL Great Primer SC;
   src: url(./fonts/IMFeGPsc28P.ttf);
 }

/*---------CSS BAICS STYLES START -------------*/

body {
    margin: 0;
    padding: 0;
    font-family: IM FELL Great Primer SC;
}

h1, h2, h3, p, span, ul, li a {
    margin: 0;
    padding: 0;
}

*,*::after ,*::before {
    box-sizing: border-box;
}

  ul li {
    list-style: none;
    font-family: IM FELL Great Primer SC;
 } 

 a {
    text-decoration: none;
 }


 /*---------CSS BAIC STYLES END -------------*/


 /*--------- NAVBAR START -----------*/

 header {
    background: linear-gradient(90deg, #FFDCAB 0%, #AB6B2E 100%);
 }

 .navbar--container {
    display: flex;
    justify-content: space-between;
    padding: 2em 8%;
    align-items:center;
 }
 .navbar--search input {
    width: 12.58606rem;
    height: 2.5rem;
    flex-shrink: 0;
    border-radius: 2.1875rem;
    border: 1px solid #000;
    background: transparent;
 }

 #search {
   text-indent: 46px;
   margin-right: 20px;
 }



 ul li  {
    display: inline-block;
    padding-left: 3em;
 }

 #search-incon {
   position: relative;
   top: 9px;
   left: 36px;
 }

 ul li a {
   color: #000;
   font-family: IM FELL Great Primer SC;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   letter-spacing: 0.1425rem;
 }






/*-----------NAVBAR END  ----------*/